$error-color: white;
$error-background-color: rgb(163, 0, 0);
$principal-background-color: white;
$principal-text-color: rgb(39, 39, 163);
$principal-caption-color: rgb(0, 0, 116);
$secundario-background-color: black;
$secundario-text-color: white;
$secundario-caption-color: white;
$viewport-xs: 320;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;
$viewport-xxl: 1400px;
