<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.svg" alt="Logotipo de CapGemini"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inicio" ><i class="fa-solid fa-house"></i> inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/demos" ><i class="fa-solid fa-house"></i> demos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/chisme/de/hacer/numeros" ><i class="fa-solid fa-house"></i> calculadora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contactos" ><i class="fa-solid fa-house"></i> contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/alisha/passion" ><i class="fa-solid fa-house"></i> alisha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/libros" ><i class="fa-solid fa-house"></i> libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/blog" ><i class="fa-solid fa-house"></i> blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/config" ><i class="fa-solid fa-house"></i> config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/config/datos" ><i class="fa-solid fa-house"></i> datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/falsa" ><i class="fa-solid fa-house"></i> falsa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="/demos" ><i class="fa-solid fa-house"></i> lenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
